{% extends 'acervo/base.html' %}

{% block conteudo %}

<div class="formulario-container">

    <div class="formulario-card">

        <h2>📖 Cadastrar novo livro</h2>

        <p>Preencha os dados do livro abaixo.</p>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <div class="acoes">

                <a class="botao-secundario" href="{% url 'lista' %}">
                    Cancelar
                </a>

                <button class="botao" type="submit">
                    Salvar livro
                </button>

            </div>

        </form>

    </div>

</div>

{% endblock %}